body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    padding-bottom: 40px;
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo{
    background-image: url(logo.png);
    height: 100px;
    width: 100px;
    background-size: cover;
}

.menu-btn {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}


.hero {
    text-align: center;
    padding: 20px;
}

.start-btn {
    background: black;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.features {
    padding: 10px;
}

.feature-box {
    background: white;
    padding: 10px;
    margin: 10px 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    height: 113px;
    width:auto;
}

.feature-box span {
    font-size: 20px;
}

.feature-text {
    margin-left: 10px;
}


.quote {
    background: white;
    padding: 20px;
    margin: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


.bottom-nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: whitesmoke;
    padding: 10px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.bottom-nav button {
    background: none;
    border: none;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    
}
footer{
    font-size: smaller;
    font-family: sans-serif;
    text-align: center;
}